﻿<!DOCTYPE html>
<html lang="en">
<head>
    <title>Photostudios</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    @RenderBody()
</body>
</html>
